canvas {
  border: 1px solid black;
  background-color: white;
}

#info {
  font-size: 18px;
  margin: 10px;
}

#score {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

#gameover {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 200px;
}

.platform {
  background-color: #1c6b12;
}

.container {
  width: 100px;
  height: 100px;
  position: relative;
  background-image: url("images/background.png");
  background-size: cover;
}

.player {
  background-color: red;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
}
